.auth-container {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: #f8f9fa;
    
}

.auth-box {

    width: 900px;
    height: 520px;

    position: relative;

    overflow: hidden;

    border-radius: 24px;

    background: white;
    border: 2px solid #0256ff;
}


/* FORM SIDE */

.form-side {

    position: absolute;

    top: 0;

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;

    z-index: 1;
}

.form-wrapper {

    width: 100%;
    max-width: 320px;
}


/* BANNER */

.banner-side {

    position: absolute;

    top: 0;

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;

    color: white;

    z-index: 2;
}