.register-page .form-side {
    right: 0;
}

.register-page .banner-side {

    left: 50%;

    background: linear-gradient(
        225deg,
        #4f46e5,
        #9333ea
    );

    animation: registerSlide 0.8s ease forwards;
}

@keyframes registerSlide {

    from {

        left: 50%;
    }

    to {

        left: 0;
    }
}