.search-bar {

    display: flex;

    width: 500px;
    max-width: 100%;
}

.search-bar input {

    flex: 1;

    padding: 10px 16px;

    border: 1px solid #ccc;

    border-right: none;

    border-radius: 999px 0 0 999px;

    outline: none;
}

.search-bar button {

    width: 60px;

    border: 1px solid #ccc;

    border-radius: 0 999px 999px 0;

    background: #f8f8f8;

    cursor: pointer;
}